*{
    font-family: sans-serif, Arial, Helvetica;
    margin:0;
    padding:0;
}

body{
    background: url("./images/bg-img.jpg") no-repeat center/cover;
    background-color: #945719;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
    padding: 1% 2% 0%;
    align-items: center;
}

.logo{
    margin-left: 4%;
}

nav{
    display: flex;
    margin-left: 4%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px #fff solid;
    padding-bottom: 2%;
    margin-bottom: 2%;
}
.nav-items{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}
.nav-item{
    margin-right: 1%;
    color:#fff;
    font-size: 16px;
    font-weight: 800;
}
.call-us-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
}
.call-us-div svg{
    width: 40px;
    height: 40px;
}
.call-content-div{
    margin-left: 4%;
    color: #fff;
    font-weight: 800;
}
.call-text{
    font-size: 16px;
}
.call-num{
    font-size: 16px;
}

main{
    margin: 1% 2%;
    padding: 1% 2%;
}

.top-sec{
    color:#fff;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
    flex-wrap: wrap;
}
.big-txt-div{
    width: 40%;
    margin-top: 4%;
    text-align: left;
    margin-left: 4%;
}
.big-txt{
    font-size: 48px;
}
.puzzle-box-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16%;
}
.box-div{
    background-color: rgba(255, 255, 255, 0.359);
    width: 248px;
    height: 160px;
    display: inline-block;
}
.box-icn-div{
    background-color: #fff;
    width:80px;
    padding:4px;
    border-radius:32px;
    margin:16px;
    text-align: center;
}
.box-txt-div{
    text-align: left;
    padding: 4px 16px;
}
.box-txt{
    font-weight:600;
}
.y-line{
    background-color: rgba(255, 255, 255, 0.359);
    padding:36px 2px;
}
.white-circle{
    background-color: #fff;
    border-radius: 50%;
    padding:8px;
}

.bottom-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
.learn-more-div{
    margin-left: 4%;
}
.learn-more{
    border:2px #fff solid;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 32px;
    padding:16px 32px;
    font-size:28px;
    color:#fff;
    cursor: pointer;
}
.bulb-box-div{
    display: flex;
    align-items: center;
    margin-right: 25%;
}
.x-line{
    background-color: rgba(255, 255, 255, 0.359);
    padding:2px 36px;
}
.sm-hide{
    visibility: visible;
}
.big-hide{
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

/* ====================================== Media Queries ============================================== */
@media (min-width: 1707px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
    header {
        width: 96%;
        margin: 1% 0%;
        padding: 1% 0%;
    }
    .nav-items{
        visibility: collapse;
        width: 0;
    }
    .sm-hide{
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
    .big-hide{
        visibility: visible;
        width: auto;
        height: auto;
        padding: 16px;
        margin: auto;
        text-align: center;
    }
    .call-us-div {
        width: 100%;
        justify-content: flex-end;
        padding-right: 8px;
        font-size: 12px;
    }
    .call-us-div svg{
        width: 32px;
        height: 32px;
    }

    .big-txt{
        font-size: 40px;
        margin-bottom: 4%;
    }
    .puzzle-box-div{
        width: 45%;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 2%;
    }
    .bottom-sec {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        margin-bottom: 20%;
    }
    .bulb-box-div {
        display: flex;
        align-items: center;
        margin-right: 2%;
        flex-direction: row-reverse;
    }
    .learn-more {
        padding: 8px 24px;
        font-size: 20px;
        margin-bottom: 2%;
    }
}

@media (max-width: 767.98px) {
    .top-sec{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 4%;
    }
    .big-txt-div{
        width: 100%;
        margin-top: 4%;
        text-align: left;
        margin-left: 2%;
    }
    .bottom-sec {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .bulb-box-div {
        flex-direction: column-reverse;
    }
    .learn-more-div{
        margin-left: 0;
    }
    .learn-more {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .x-line {
        display: flex;
        padding: 36px 2px;
        flex-direction: column;
    }
}

@media (max-width: 575.98px) {
    .bulb-box-div {
        flex-direction: column-reverse;
    }
    .learn-more-div{
        margin-left: 0;
    }
    .learn-more {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .x-line {
        display: flex;
        padding: 36px 2px;
        flex-direction: column;
    }
}
